[Unit]
Description=OCR Container (mindee/doctr/api)
After=network.target

# Assumes the path to AI-MOA is '/opt/ai-moa'; if different, please edit ExecStart and ExecStop paths below:
# Assumes that doctr has been installed in /opt/doctr and that src/docker-compose.yml.doctr.example has replaced the file in /opt/doctr/api/

[Service]
# OCR Container should run as 'root':
User=root
Nice=1
KillMode=control-group
# KillMode=none
# KillMode=mixed
SuccessExitStatus=0 1
# OCR Container should have RemainAfterExit=true to ensure it keeps running
RemainAfterExit=true
# ProtectHome=true
# ProtectSystem=full
# PrivateDevices=true
# NoNewPrivileges=true
WorkingDirectory=/opt/ai-moa/install
# Edit the correct path to AI-MOA/install:
ExecStart=/opt/ai-moa/install/run-ocr.sh
# Edit the correct path to AI-MOA/gwc-aimee:
ExecStop=/opt/ai-moa/install/stop-ocr.sh
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target

